<!--

Project: BEMS IoT Enabled System V 1.0.0
File Name: RegistrationTest.cshtml
Development Environment: Microsoft Visual Studio v16.8.4 Community Version
Code contributors: Mohammed Ahmed Subani
ASU ID: 1218278997

File Description:
    This test will register a foo user name and foo password with a real email to verify
    the registration operation in AccountMgmtSvc service, if the registration is sucessful
    an email will be sent to the email assigned in the submitted test form.

    The test page contains a form to enter an email. If the registration is sucessful
    an email notifying the user for the sucessful registration will be sent. This test
    is used only once and can be restarted by deleting the foo/fake registered user
    sent by the controller.

-->
@{
    ViewData["Title"] = "RegistrationTest";
}

<h1>RegistrationTest</h1>

<!--Explaining the test for users-->
<p>
    This test will register a foo user name and foo password with a real email to verify
    the registration operation in AccountMgmtSvc service, if the registration is sucessful
    an email will be sent to the email assigned in the submitted test form.
</p>

<!--Forms to enter an email to verify registration function in Account Managment Service-->
<form asp-action="RegistrationTest" method="post" class="align-items-center">
    <div class="form-group">
        <!--EMAIL INPUT FIELD-->
        <label class="align-items-center">TestEmail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email to confirm registration functions">
    </div>
    <!--SUBMIT BUTTON-->
    <div class="align-items-center">
        <button type="submit" class="btn btn-primary">Test Registration</button>
    </div>
</form>

<!--Registration function test result-->
<p>@ViewBag.Message</p>