<!--

Project: BEMS IoT Enabled System V 1.0.0
File Name: Analytics.cshtml
Development Environment: Microsoft Visual Studio v16.8.4 Community Version
Code contributors: Mohammed Ahmed Subani
ASU ID: 1218278997

File Description:
The following page returns the Cyclotron analytics dashboards from Cyclotron server
    using iframe element with URL to the dashboards page.
-->
@{
    ViewData["Title"] = "Analytics";
}

<head>
    <!--CSS styling for the page, and for the loading animation-->
    <!--loadingIframe for iframe after loading-->
    <!--ImageOnLoad for loading GIF image-->
    <!--TextOnLoad for loading Text-->
    <style>

        #loadingIframe {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 1000px;
        }

        .ImageOnLoad {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .TextOnLoad {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>

<body>

    <h2 class="text-md-center">Indoor Temperature Dashboards Analytics</h2>

    <div>
        <!--Image to show while the iframe is being loaded-->
        <img class="ImageOnLoad" src="~/Images/loading.gif" width="50" height="50" alt="loading gif" />

        <!--text to show while the iframe is being loaded-->
        <p class="TextOnLoad" style="text-align:center; color: #0080ff;">
            Fetching Data, Please be patient this may take up to 1 minute ....
        </p>

        <!--Iframe pointing to Cyclotron analytics dashboard-->
        <iframe src="http://bems-iot.ddnsgeek.com:8080/analytics/indoor-temprature-dashboard"
                id="loadingIframe"
                name="targetframe"
                allowTransparency="true"
                scrolling="yes"
                frameborder="0">
        </iframe>
    </div>

    <h2 class="text-md-center">Indoor Humidity Dashboards Analytics</h2>

    <div>
        <!--Image to show while the iframe is being loaded-->
        <img class="ImageOnLoad" src="~/Images/loading.gif" width="50" height="50" alt="loading gif" />

        <!--text to show while the iframe is being loaded-->
        <p class="TextOnLoad" style="text-align:center; color: #0080ff;">
            Fetching Data, Please be patient this may take up to 1 minute ....
        </p>

        <!--Iframe pointing to Cyclotron analytics dashboard-->
        <iframe src="http://bems-iot.ddnsgeek.com:8080/analytics/indoor-humidity-dashboard"
                id="loadingIframe"
                name="targetframe"
                allowTransparency="true"
                scrolling="yes"
                frameborder="0">
        </iframe>
    </div>

    <h2 class="text-md-center">Indoor Light Intensity Dashboards Analytics</h2>

    <div>
        <!--Image to show while the iframe is being loaded-->
        <img class="ImageOnLoad" src="~/Images/loading.gif" width="50" height="50" alt="loading gif" />

        <!--text to show while the iframe is being loaded-->
        <p class="TextOnLoad" style="text-align:center; color: #0080ff;">
            Fetching Data, Please be patient this may take up to 1 minute ....
        </p>

        <!--Iframe pointing to Cyclotron analytics dashboard-->
        <iframe src="http://bems-iot.ddnsgeek.com:8080/analytics/light-intensity---bars"
                id="loadingIframe"
                name="targetframe"
                allowTransparency="true"
                scrolling="yes"
                frameborder="0">
        </iframe>
    </div>

    <h2 class="text-md-center">Indoor Sound Level Dashboards Analytics</h2>

    <div>
        <!--Image to show while the iframe is being loaded-->
        <img class="ImageOnLoad" src="~/Images/loading.gif" width="50" height="50" alt="loading gif" />

        <!--text to show while the iframe is being loaded-->
        <p class="TextOnLoad" style="text-align:center; color: #0080ff;">
            Fetching Data, Please be patient this may take up to 1 minute ....
        </p>

        <!--Iframe pointing to Cyclotron analytics dashboard-->
        <iframe src="http://bems-iot.ddnsgeek.com:8080/analytics/indoor-sound-levels-dashboard"
                id="loadingIframe"
                name="targetframe"
                allowTransparency="true"
                scrolling="yes"
                frameborder="0">
        </iframe>

    </div>

    <h2 class="text-md-center">Indoor CO2 Levels Dashboards Analytics</h2>

    <div>
        <!--Image to show while the iframe is being loaded-->
        <img class="ImageOnLoad" src="~/Images/loading.gif" width="50" height="50" alt="loading gif" />

        <!--text to show while the iframe is being loaded-->
        <p class="TextOnLoad" style="text-align:center; color: #0080ff;">
            Fetching Data, Please be patient this may take up to 1 minute ....
        </p>

        <!--Iframe pointing to Cyclotron analytics dashboard-->
        <iframe src="http://bems-iot.ddnsgeek.com:8080/analytics/co2---column-bars"
                id="loadingIframe"
                name="targetframe"
                allowTransparency="true"
                scrolling="yes"
                frameborder="0">
        </iframe>
    </div>

    <h2 class="text-md-center">Aggregate Data Dashboards Analytics</h2>

    <div>
        <!--Image to show while the iframe is being loaded-->
        <img class="ImageOnLoad" src="~/Images/loading.gif" width="50" height="50" alt="loading gif" />

        <!--text to show while the iframe is being loaded-->
        <p class="TextOnLoad" style="text-align:center; color: #0080ff;">
            Fetching Data, Please be patient this may take up to 1 minute ....
        </p>

        <!--Iframe pointing to Cyclotron analytics dashboard-->
        <iframe src="http://bems-iot.ddnsgeek.com:8080/analytics/aggregate-data-all-param-mixed"
                id="loadingIframe"
                name="targetframe"
                allowTransparency="true"
                scrolling="yes"
                frameborder="0">
        </iframe>
    </div>

    <!--Script called when iframe is loaded, hide the loading GIF image and its associated text-->
    <script>
        $(document).ready(function () {
            $('#loadingIframe').on('load', function () {
                $('.ImageOnLoad').hide();
                $('.TextOnLoad').hide();
            });
        });
    </script>
</body>







