<!--

Project: BEMS IoT Enabled System V 1.0.0
File Name: Contact.cshtml
Development Environment: Microsoft Visual Studio v16.8.4 Community Version
Code contributors: Mohammed Ahmed Subani
ASU ID: 1218278997

File Description:
The following page gives general information about BEMS IoT Enabled System stakeholders.

-->

@{
    ViewData["Title"] = "Contact";
}

<head>
    <!--CSS styling for the page-->
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1585314062340-f1a5a7c9328d');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        footer {
            background-color: white;
        }
    </style>
</head>

<div class="text-left">
    <h1 class="display-4" style="color:white;">
        Contact Information
    </h1>
</div>

<h2 style="text-align: left; color:white;">

    <strong>Component Description</strong>

</h2>

<p style="color:white;">

    The following section contains the contact information for the stakeholders of this project
    thank you for using the system's website and ,hopefully it has made the envisioned impact.

</p>

<p style="color:white;"><strong><img class="isearch-profile-photo img-responsive" title="Profile photo" src="https://webapp4.asu.edu/photo-ws/directory_photo/ychen10?blankImage=false&amp;size=medium" alt="Profile photo" /></strong></p>
<h3 style="color:white;"><strong>Project Adviser : Professor Yinong Chen</strong></h3>
<h3 style="color:white;"><strong>Email: <a href="mailto:YINONG.CHEN@asu.edu">yinong.chen@asu.edu</a></strong></h3>
<h3 style="color:white;">&nbsp;</h3>
<p style="color:white;">&nbsp;</p>
<p style="color:white;"><strong><img id="ember331" class="lazy-image imgedit-profile-photo-frame-viewer__target-image ember-view" src="~/Images/m.jpg" alt="profile image" width="252" height="252" /></strong></p>
<h3 style="color:white;"><strong>Principal Developer: Mohammed Subani</strong></h3>
<h3 style="color:white;"><strong>Email: <a href="mailto:msubani@asu.edu">msubani@asu.edu</a></strong></h3>
<h3 style="color:white;"><strong>Cell phone: +962796998458</strong></h3>
<h3 style="color:white;">&nbsp;</h3>