<!--

Project: BEMS IoT Enabled System V 1.0.0
File Name: SensingUnits.cshtml
Development Environment: Microsoft Visual Studio v16.8.4 Community Version
Code contributors: Mohammed Ahmed Subani
ASU ID: 1218278997

File Description:
The following page will on page load get the sensing units/control module up or down status using
    this view assoicated controller. To get the most recent status the page must be refreshed/reloaded.
-->
@{
    ViewData["Title"] = "Sensing Units";
}

<head>
    <!--CSS styling for the page -->
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1577962144759-8dec6b55c952');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        footer {
            background-color: white;
        }
    </style>

    <!--
        Script called when button of an assoicated sensing unit/control module is clicked
        upon clicking the status from view controller is passed to function with 1 for up
        and running and 0 for down time. The assoicated message is decided using the passed
        status variable.

            Parameters: unitNum(e.g. sensing unit 0,1 .....), Status(unit current status)
            Returns: void
    -->

    <script>
        var updateStatus = function (unitNum, Status) {
            if (Status == 1) {
                document.getElementById('u' + unitNum + 'status').innerHTML =
                    '   ✓ Sensing/control device is up and running .....';
                document.getElementById('u' + unitNum + 'status').style.color = 'green';
            }
            else {
                document.getElementById('u' + unitNum + 'status').innerHTML =
                    '   ✕ Sensing/control device is down !';
                document.getElementById('u' + unitNum + 'status').style.color = 'red';

            }
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>

    <div class="text-left">
        <h2 class="display-4" style="color:black;"><strong>Sensing Units Status</strong></h2>
    </div>

    <!--Button and message element for IoT unit 0, status message appear after clicking-->
    <button class="btn btn-primary" onclick="updateStatus(0,@ViewBag.sensingUnit_0)" style="border:solid;border-color:white;">
        Get sensing unit 0 status
    </button>
    <span id='u0status'></span>
    <br><br>

    <!--Button and message element for IoT unit 1,  status message appear after clicking-->
    <button class="btn btn-primary" onclick="updateStatus(1,@ViewBag.sensingUnit_1)" style="border:solid;border-color:white;">
        Get sensing unit 1 status
    </button>
    <span id='u1status'></span>
    <br><br>

    <!--Button and message element for IoT unit 2,  status message appear after clicking-->
    <button class="btn btn-primary" onclick="updateStatus(2,@ViewBag.sensingUnit_2)" style="border:solid;border-color:white;">
        Get control unit status
    </button>
    <span id='u2status'></span>
    <br><br>

    <!--Status refresh button to get the most recent status of the sensing units-->
    <form style="text-align:center;">
        <button class="btn btn-primary" asp-action="SensingUnits" method="post" type="submit" style="border:solid;border-color:white;">
            Refresh Units Status Results
        </button>
    </form>

</body>