<!--

Project: BEMS IoT Enabled System V 1.0.0
File Name: Index.cshtml
Development Environment: Microsoft Visual Studio v16.8.4 Community Version
Code contributors: Mohammed Ahmed Subani
ASU ID: 1218278997

File Description:
The following page gives general information about BEMS IoT Enabled System. The following
page gets redirected to upon sucessful login/registration.

-->

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <!--CSS styling for the page-->
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1584701782034-db40bdcd886c');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        footer {
            background-color: white;
        }
    </style>
</head>



<body>

    <div class="text-left">
        <h1 class="display-4" style="color: white;">
            Homepage
        </h1>
    </div>

    <h2 style="
        text-align: left;
        color: white;">

        <strong>BEMS IoT Enabled System</strong>
    </h2>

    <!-- INTRO Text Field -->
    <p style="color: white;">

        According to the World Economic Forum website buildings are the source of a 40% of
        global energy consumption and they are responsible as well for a 33% of the greenhouse
        gas emissions. [Tricoire, 2021] Therefore, addressing sustainable solutions for the
        buildings energy consumption and greenhouse gas emission is a crucial step in tackling
        the challenges of global climate change.

    </p>

    <!-- WHAT Text Field -->
    <p style="text-align: center;"><br /><img src="~/Images/Home_1.jpg" width="1070" height="500"></p>

    <!-- WHY Text Field -->
    <p style="text-align: center;"><br /><img src="~/Images/Home_4.jpg" width="1070" height="500"></p>

    <!-- HOW Text Field -->
    <p style="text-align: center;"><br /><img src="~/Images/Home_5.jpg" width="1070" height="500"></p>

    <p style="text-align: left;">&nbsp;</p>

    <!-- REF Text Field -->
    <blockquote>
        `
        <p style="text-align: left;color:blue;">[1] Jean-Pascal Tricoire. 2021. &ldquo;Why buildings are the foundation of an energy-efficient future&rdquo;. 22 Feb 2021. Available online at: <a href="https://www.weforum.org/agenda/2021/02/why-the-buildings-of-the-future-are-key-to-an-efficient-energy-ecosystem/" style="color:blue;font-style:italic;">https://www.weforum.org/agenda/2021/02/why-the-buildings-of-the-future-are-key-to-an-efficient-energy-ecosystem/</a></p>
        <p style="text-align: left;color:blue;">[2] United Nations Climate Technology Center and Network. N.d. &ldquo;Building Energy Management Systems (BEMS)&rdquo;. N.d. Available online at: <a href="https://www.ctc-n.org/technologies/building-energy-management-systems-bems" style="color:blue;font-style:italic;">https://www.ctc-n.org/technologies/building-energy-management-systems-bems</a></p>
    </blockquote>

    <p style="text-align: left;">&nbsp;</p>

</body>
