<!--

Project: BEMS IoT Enabled System V 1.0.0
File Name: TestSuite.cshtml
Development Environment: Microsoft Visual Studio v16.8.4 Community Version
Code contributors: Mohammed Ahmed Subani
ASU ID: 1218278997

File Description:
The following page contains links to test pages links, the test has two section units test
    and components tests links.
-->
@{
    ViewData["Title"] = "TestSuite";
}

<head>
    <!--CSS styling for the page -->
    <style>
        body {
            background-image: url('https://images.unsplash.com/photo-1501876991173-f9c47cd28268');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        footer {
            background-color: white;
        }
    </style>
</head>

<div class="text-left">
    <h1 class="display-4" style="color:white;">Test Suite</h1>
</div>


<h2 style="text-align: left;color:white;"><strong>Component Description</strong></h2>

<!--Explaining the component for users-->
<p style="color:white;">
    This component is responsible for doing tests on assoicated services and interntal functions within
    the web application  at three levels namely the unit <br> testing level,the component testing level and
    the integration level.
</p>

<!--Unit tests links section-->
<h3 style="text-align: left;color:white;">Unit Tests</h3>

<a class="nav-link text-capitalize" asp-area="" asp-controller="Test" asp-action="AuthenticateTest">Authenticate Test</a>

<a class="nav-link text-capitalize" asp-area="" asp-controller="Test" asp-action="AuthorizeTest">Authorize Test</a>

<a class="nav-link text-capitalize" asp-area="" asp-controller="Test" asp-action="FindElevation">Find Elevation Test</a>

<a class="nav-link text-capitalize" asp-area="" asp-controller="Test" asp-action="EncDecTest">Encryption/Decryption Test</a>

<a class="nav-link text-capitalize" asp-area="" asp-controller="Test" asp-action="GetSolarIndexTest">Get Solar Index Test</a>


<!--Component tests links section-->
<h3 style="text-align: left;color:white;">Components Tests</h3>

<a class="nav-link text-capitalize" asp-area="" asp-controller="Test" asp-action="WeatherSvcTest">Weather Service Test</a>

<a class="nav-link text-capitalize" asp-area="" asp-controller="Test" asp-action="DashboardsTest">Cyclotron Dashboards Test</a>

<a class="nav-link text-capitalize" asp-area="" asp-controller="Test" asp-action="RegistrationTest">Registration Test</a>

<a class="nav-link text-capitalize" asp-area="" asp-controller="Test" asp-action="DatabaseTest">Database Usage Service Test</a>

<a class="nav-link text-capitalize" asp-area="" asp-controller="Test" asp-action="AnnualClimateDataTest">Annual Climate Data Service Test</a>

<a class="nav-link text-capitalize" asp-area="" asp-controller="Test" asp-action="ControlTest">Controlling Test</a>
