<!--
    
Project: BEMS IoT Enabled System V 1.0.0
File Name: AccessDenied.cshtml
Development Environment: Microsoft Visual Studio v16.8.4 Community Version
Code contributors: Mohammed Ahmed Subani
ASU ID: 1218278997

File Description:
The following page is redirected to when a user has no auhtorization to visit a page.

-->

@{
    ViewData["Title"] = "AccessDenied";
}

<h2 style="text-align: center;"><span style="color: #ff0000;">Acess denied ! only available for technical administrators of the system </span></h2>