<!--

Project: BEMS IoT Enabled System V 1.0.0
File Name: Login.cshtml
Development Environment: Microsoft Visual Studio v16.8.4 Community Version
Code contributors: Mohammed Ahmed Subani
ASU ID: 1218278997

File Description:
The following page is the login page. It will be redirected to when users try to access with
no authentication pages that require authentication and when login is not sucessful.

This page contains a login form to submit to the controller with username and password fields.

-->


@model WebApplication1.Models.AccountMgmt
@{
    ViewData["Title"] = "Login";
}

<!--The following section explains the login page-->
<h2 style="text-align: left;"><strong>Component Description</strong></h2>
<p style="text-align: left;">
    This component is responsible for logging users with different privelges namely
    (spectators,owners and technical admins) seamelessly through the same interface.
    It will use the DatabaseUsage services to retrieve and validate data.&nbsp;
    from JSON Database tables associated with the project. Passwords are decrypted
    through internal component to validate users.
</p>

<!--If login is sucessful form to login shouldn't be accessible-->
@if (!User.Identity.IsAuthenticated)
{

    <div class="align-middle">
        <div class="align-middle">
            <h2 class="text-center"><strong>Login</strong></h2><br />

            <!--Notifying message-->
            <p><span style="color: #ff0000;">⚠ User name and password are case sensitive</span></p>
            <!--Error messages appear here -->
            <p><strong><span style="color: #ff0000;">@ViewBag.ErrorMessage</span></strong></p>

            <!--Forms with user name and passowrd fields to submit , the forms are centered -->
            <form asp-action="login" method="post" class="align-items-center">
                <div class="form-group">
                    <!--USERNAME FIELD-->
                    <label class="align-items-center">User Name</label>
                    <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter user name">
                </div>
                <div class="form-group">
                    <!--PASSWORD FIELD-->
                    <label class="align-items-center">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <div class="align-items-center">
                    <!--LOGIN BUTTON-->
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
}