<!--

Project: BEMS IoT Enabled System V 1.0.0
File Name: AuthenticateTest.cshtml
Development Environment: Microsoft Visual Studio v16.8.4 Community Version
Code contributors: Mohammed Ahmed Subani
ASU ID: 1218278997

File Description:
    The following test will test the Authenticate function in Account Management Service
    for registered user  if the test is sucessful it will return "true" result for authenticated
    users and "flase" for non-registerd users (anonymous names).

    The test has forms input fields entering a registered user name and password.

-->

@{
    ViewData["Title"] = "AuthenticateTest";
}

<h1>AuthenticateTest</h1>

<!--Explaining the test for users-->
<p>
    The following test will test the Authenticate function in AccountMgmtSvc for registered user
    if the test is sucessful it will return "true" result for authenticated users and
    "flase" for non-registerd users (anonymous names).
</p>

<!--Form input fields for a reigsterd username and password-->
<div class="align-middle">
    <div class="align-middle">
        <form asp-action="AuthenticateTest" method="post" class="align-items-center">
            <div class="form-group">
                <!--USERNAME INPUT FIELD-->
                <label class="align-items-center">User Name</label>
                <input type="text" class="form-control" id="userName" name="userName" placeholder="Enter user name">
            </div>
            <div class="form-group">
                <!--PASSWORD INPUT FIELD-->
                <label class="align-items-center">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password">
            </div>
            <div class="align-items-center">
                <button type="submit" class="btn btn-primary">Submit result</button>
            </div>
        </form>
    </div>
</div>

<!--Showing the test results after calling the controller Account Management Service
    if the test is true show the authentication true message-->
@if (ViewBag.AuthenticateMsg != null)
{
    <p><strong><span style="color: #ff0000;">@ViewBag.AuthenticateMsg</span></strong></p>

}
else
{
    <p><strong><span style="color: #ff0000;">Getting role from accounts database is unsucessful</span></strong></p>
}