<!--

Project: BEMS IoT Enabled System V 1.0.0
File Name: EncDecTest.cshtml
Development Environment: Microsoft Visual Studio v16.8.4 Community Version
Code contributors: Mohammed Ahmed Subani
ASU ID: 1218278997

File Description:
    This page test checks for the health of encryption/decryption local functionality,
    to complete the test enter a text for encryption submit the text and then enter
    the decrypted text in the decryption field to verify that encryption/decryption
    functionality is working correctly.

    The page contains form input field for text to encrypt and check if the encryption
    is correct using the decrypt input field.

-->

@{
    ViewData["Title"] = "EncDecTest";
}

<h1>EncDecTest</h1>

<!--Explaining the test for users-->
<p>
    This test checks for the health of encryption/decryption local functionality,
    to complete the test enter a text for encryption submit the text and then enter
    the decrypted text in the decryption field to verify that encryption/decryption
    functionality is working correctly.
</p>

<!--Encryption test form, user will enter a text to encrypt-->
<form asp-action="EncTest" method="post" class="align-items-center">
    <div class="form-group">
        <!--ENCRYPT INPUT TEXT FIELD--->
        <label class="align-items-center">Text to encrypt</label>
        <input type="text" class="form-control" id="encText" name="encText" placeholder="Enter text to be encrypted">
    </div>

    <!--SUBMIT BUTTON--->
    <div class="align-items-center">
        <button type="submit" class="btn btn-primary">Get encrypted text</button>
    </div>
</form>

<!--Showing encryption result-->
<p>Encrypted text  → @ViewBag.EncResult </p>

<!--Decryption test form, user will enter a text to decrypt-->
<form asp-action="DecTest" method="post" class="align-items-center">
    <div class="form-group">
        <!--DECRYPT INPUT TEXT FIELD--->
        <label class="align-items-center">Text to decrypt</label>
        <input type="text" class="form-control" id="decText" name="decText" placeholder="Enter text to be decrypted">
    </div>

    <!--SUBMIT BUTTON--->
    <div class="align-items-center">
        <button type="submit" class="btn btn-primary">Get decrypted text</button>
    </div>
</form>

<!--Showing encryption result-->
<p>Decrypted text  → @ViewBag.DecResult </p>
