<!--

Project: BEMS IoT Enabled System V 1.0.0
File Name: GetSolarIndexTest.cshtml
Development Environment: Microsoft Visual Studio v16.8.4 Community Version
Code contributors: Mohammed Ahmed Subani
ASU ID: 1218278997

File Description:
    The following page  test checks whether the GetSolarIndex function in SolarIndex
    Service retrieves solar irradiance data for the location where the BEMS is implemented
    that is namely latitude: 31.9702593 and longitude:35.9568498.

    The test is executed on page load.

-->
@{
    ViewData["Title"] = "GetSolarIndexTest";
}

<h1>GetSolarIndexTest</h1>

<!--Explaining the test for users-->
<p>
    This test checks whether the GetSolarIndex function in SolarIndex Service retrieves
    solar irradiance data for the location where the BEMS is implemented that
    is namely latitude: 31.9702593 and longitude:35.9568498.

    In case of sucessful retrieval of data solar irradiance as float number value will appear
    otherwise a failure message will appear.

    The test already started on page loading ........
</p>

<!--Test result message, either a numerical value for sucesful call or string
    with error message otherwise-->
<h3>Test Result ↓↓</h3>
<p><strong><span style="color: #ff0000;">@ViewBag.SolarIrradianceMsg</span></strong></p>